<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
  <add name="PharmacyDB" connectionString="Data Source= LEFAB-BLACK;Initial Catalog=MedicalDB;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
  <add name="PharmacyApp.Properties.Settings.PharmacyDBConnectionString"
   connectionString="Data Source=LEFAB-BLACK;Initial Catalog=PharmacyDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>

